$hello: red;

h1 {
  color: $hello;
}

body {
  margin: 0;
}

.number-input {
  text-align: center;
  margin: -20px 30px;
  width: 150px;
}

.qty,
.qtyS {
  width: 40px;
  text-align: center;
}

.input-group {
  margin: -10px 0 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.number-of-shapes-title {
  margin: 10px 30px 0;
  color: blue;
  font-size: 20px;
  width: 300px;
}

.surface-title {
  @extend .number-of-shapes-title;
  color: red;
  width: 800px;
}

.titles {
  @extend .buttons;
  width: 11000px;
  // justify-content: space-between;
}
